
* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

body {
    text-align: center;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-thumb{
    background: #877d6f;
}





/* Nav */


.header .header-1{
  background: #dad3bf;
  padding: 1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header .header-1 .search-form{
  width: 40rem;
  height: 5rem;
  overflow: hidden;
  align-items: center;
  background: #fff;
  display: flex;
  border-radius: 5rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header .header-1 .search-form input{
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color:#507255;
  
}

.header .header-1 .search-form label{
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color: #0D0F10;
  cursor: pointer;
}

.header .header-1 .search-form label:hover{
  color: #507255;
  transform: scale(1.1); 
}

.icons{
  width: 16.8rem;
}

.header .header-1 .icons div,
.header .header-1 .icons a{
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color: #0D0F10;
  cursor: pointer;
  text-decoration: none;
}

.header .header-1 .icons div:hover{
  color: #507255;
  transform: scale(1.1); 
}
.header .header-1 .icons a:hover{
  color: #507255;
  transform: scale(1.1); 
}

.logo img {
  height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


#search-btn{
  display: none;
}

.navbar-custom {
 
  h2 {
    text-align: center;
    text-transform: uppercase;
  }
  a{
    text-align: center;
    color: #dad3bf;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
  }
  a:hover{
    background: #282D2C;
  }
}

.header .header-2{
  background: #0D0F10;
  
}   

.header .header-2 .navbar{
  text-align: center;
}

.header .header-2 .navbar a{
  color: #dad3bf;
  display: inline-block;
  padding: 1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
  background: #282D2C;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

.bottom-navbar{
  text-align: center;
  background: #877d6f;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  z-index: 3;
  display: none;
}


.bottom-navbar a{
  font-size: 2.5rem;
  padding: 2rem;
  color: #dad3bf;
  transition: color 0.3s ease;
  text-decoration: none;
}


.bottom-navbar a:hover{
  color: #fff;
  transform: scale(1.1); 
}





/* Seccion Mezclados */



.btn {
    padding: 5vh 5vh;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #c7bbad;
    color: #fff1df;
    text-decoration: none;
    background: #0D0F10;
    font-size: medium;

    &:hover {
        background: #282D2C;
    }
}


.subir {
    z-index: 1;
    height: 40px;
    width: 40px;
    background-color: #282D2C;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
    color: #dad3bf;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: #2f4232;
    }

    i:hover {
        color: #fff;
    }
}

// bootstrap

.pagination {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.page-link {
  font-size: 1.3rem;
  padding: 10px 15px; 

}


// Ventana Registrate


.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}



.popup-content {
  width: 350px;
  background-color: rgb(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
}

.close {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 3rem;
  cursor: pointer;
}


.register {
  max-width: 400px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #666;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    height: 5rem;
    background-color: #0D0F10;
    color: white;
    border: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #282D2C;
  }
}






/* Footer */

.pie-pagina{
    width: 100%;
    background-color: #dad3bf;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
    width: 70px;
}

.pie-pagina .grupo-1 .box h3{
    color: #282D2C;
    margin-bottom: 25px;
    font-size: 3rem;
}

.pie-pagina .grupo-1 .box p{
    font-size: 1.5rem;
    color: #0D0F10;
    margin-bottom: 10px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box div{
  font-size: 1.5rem;
  color: #4e4940;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


.pie-pagina .grupo-1 .red-social a{
    display: inline-block; 
    font-size: 2rem;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #0D0F10;
    margin-right: 10px;
    background-color: #877d6f;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pie-pagina .grupo-1 .red-social a:hover{
    color: #d2cbb5;
}
  
.pie-pagina .grupo-2{
    background-color: #877d6f;
    padding: 15px 10px;
    text-align: center;
    color: #0D0F10;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
}